<div class="main-content">
    <div class="container-fluid">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <div class="table-client">
                                    <div class="col-6">
                                        <h4 class="card-title ">Registered Customers</h4>
                                    </div>
                                    <div class="col-6 end">
                                        <button class="btn btn-outline-primary btn-sm" (click)="addClient()">Add Client</button>
                                    </div>
                                    <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                #
                                            </th>
                                            <th>
                                                Name
                                            </th>
                                            <th>
                                                Document
                                            </th>
                                            <th>
                                                Email
                                            </th>
                                            <th>
                                                Telephone
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of client, let i = index">
                                                <td class="hand" (click)="perfilClient(item.id)">
                                                    {{ i+1 }}
                                                </td>
                                                <td class="hand" (click)="perfilClient(item.id)">
                                                    {{ item.name }}
                                                </td>
                                                <td class="hand" (click)="perfilClient(item.id)">
                                                    {{ item.document}}
                                                </td>
                                                <td class="hand" (click)="perfilClient(item.id)">
                                                    {{ item.email}}
                                                </td>
                                                <td class="hand" (click)="perfilClient(item.id)">
                                                    {{ item.telephone }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

    </div>
</div>