.to-lefl{
    margin-left: 15%;
}

.to-top-lefl{
    margin-top: 30px;
    margin-left: 5%;
}

.to-top {
    margin-top: 60px;
}

.to-left {
    margin-left: 25%;
}

.alineando {
    display: flex;
}

.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}

.form-control-feedback {
    position: inherit !important;
    width: 500px !important;
    line-height: 34px !important;
    text-align: inherit !important;
    pointer-events: none !important;
}