<div class="main-content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-4 to-lefl">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:void(0)">
                        <img class="img" src="../../assets/img/avatar3.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">{{ client.document}}</h6>
                    <h4 class="card-title">{{ client.name }}</h4>
                    <p class="card-description">
                        {{ client.email }}
                    </p>
                    <p class="card-description">
                        {{ client.telephone}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 to-top-lefl">
            <a class="btn btn-danger btn-round btn-lg btn-block" data-toggle="modal" data-target="#exampleModalCenter">Recharge Wallet</a>
            <a class="btn btn-danger btn-round btn-lg btn-block to-top" data-toggle="modal" data-target="#exampleModalCenterPay">Pay</a>
            <a class="btn btn-danger btn-round btn-lg btn-block to-top" data-toggle="modal" data-target="#exampleModalCenterBalance" (click)="statusClient()">Check balance</a>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Top up your wallet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #forma="ngForm">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-danger': amount.errors?.required && amount.touched }">
                                <input  [(ngModel)]="recharge.amount"
                                name="amount"
                                type="number"
                                class="form-control"
                                placeholder="Amount"
                                required
                                #amount="ngModel">

                                <div *ngIf="amount.errors?.required" class="form-control-feedback">
                                    Este campo es requerido, tiene que ser mayor que cero (0)
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" 
                            (click)="rechargeWallets()" 
                            data-dismiss="modal" 
                            class="btn btn-primary" 
                            [disabled]="!forma.valid"
                            id="exampleModalCenter">Recharge
                    </button>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenterPay" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Pay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form #formaPay="ngForm">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-danger': pay.errors?.required && pay.touched }">
                                <input  [(ngModel)]="payClient.amount"
                                name="amount"
                                type="number"
                                class="form-control"
                                placeholder="Pay"
                                required
                                #pay="ngModel">

                                <div *ngIf="pay.errors?.required" class="form-control-feedback">
                                    Este campo es requerido
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" 
                            (click)="payAmount()" 
                            data-dismiss="modal" 
                            class="btn btn-primary" 
                            [disabled]="!formaPay.valid"
                            id="exampleModalCenterPay">Pay
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenterBalance" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Check balance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body alineando">
                <p class="to-left mr-2">Your current balance is:</p> {{ checkBalance }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>