<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Register clients</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">

                        <form (ngSubmit)="addClient(forma)" #forma="ngForm" novalidate="">

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group" [ngClass]="{'has-danger': (name.errors?.minlength || name.errors?.required) && name.touched }">
                                        <input  [(ngModel)]="client.name"
                                        name="name"
                                        type="text"
                                        class="form-control"
                                        placeholder="Name"
                                        minlength="5"
                                        required
                                        #name="ngModel">

                                        <div *ngIf="name.errors?.required" class="form-control-feedback">
                                            Este campo es requerido
                                        </div>
                                        <div *ngIf="name.errors?.minlength" class="form-control-feedback">
                                            Por lo menos 5 caracteres
                                        </div>
                                    </div>

                                    <div class="form-group" [ngClass]="{'has-danger': (document.errors?.minlength || document.errors?.required) && document.touched }">
                                        <input  [(ngModel)]="client.document"
                                                name="document"
                                                type="text"
                                                class="form-control"
                                                placeholder="Document"
                                                minlength="7"
                                                required
                                                #document="ngModel">

                                        <div *ngIf="document.errors?.required" class="form-control-feedback">
                                            Este campo es requerido
                                        </div>
                                        <div *ngIf="document.errors?.minlength" class="form-control-feedback">
                                            Por lo menos 7 caracteres
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-6">

                                    <div class="form-group" [ngClass]="{'has-danger': (email.errors?.pattern || email.errors?.required) && email.touched }">
                                        <input  [(ngModel)]="client.email"
                                                name="email"
                                                type="text"
                                                class="form-control"
                                                placeholder="Email"
                                                required
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                                #email="ngModel">
                                        
                                        <div *ngIf="email.errors?.required" class="form-control-feedback">
                                            Este campo es requerido
                                        </div>
                                        <div *ngIf="email.errors?.pattern" class="form-control-feedback">
                                            El campo no tiene formato de correo
                                        </div>
                                    </div>

                                    <div class="form-group" [ngClass]="{'has-danger': (telephone.errors?.minlength || telephone.errors?.required) && telephone.touched }">
                                        <input  [(ngModel)]="client.telephone"
                                                name="telephone"
                                                type="text"
                                                class="form-control"
                                                placeholder="Telephone"
                                                minlength="7"
                                                required
                                                #telephone="ngModel">
                                            
                                        <div *ngIf="telephone.errors?.required" class="form-control-feedback">
                                            Este campo es requerido
                                        </div>
                                        <div *ngIf="telephone.errors?.minlength" class="form-control-feedback">
                                            Por lo menos 7 caracteres
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group centrando">
                                <button 
                                        type="submit" 
                                        [disabled]="!forma.valid"
                                        class="btn btn-outline-primary">
                                    Guardar cambios
                                </button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>