.centrando {
    text-align: center;
}

.ng-invalid.ng-touched:not(form) {
    border: 1px solid red;
}

.form-control-feedback {
    position: inherit !important;
    width: 300px !important;
    line-height: 34px !important;
    text-align: inherit !important;
    pointer-events: none !important;
}